.header-container {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: rgba($slack-color, 1);
  padding: 10px 0;
  color: white;
}

.header-left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;

  > .MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 30px;
  }
}

.header-right {
  flex: 0.3;
}

.user-avatar {
  cursor: pointer;
  :hover {
    opacity: 0.8;
  }
}

.search-container {
  flex: 0.4;
  opacity: 1;
  border-radius: 6px;
  color: white;
  text-align: center;
  background-color: #421f44;
  display: flex;
  padding: 0 50px;
  color: gray;
  border: 1px gray solid;

  input {
    background-color: transparent;
    border: none;
    text-align: center;
    min-width: 30vw;
    outline: 0;
    color: white;
  }
}
